<mat-card class="card-content-example">
    <mat-card-header>
        <button mat-raised-button color="primary" (click)="scanner = !scanner">
      {{ scanner ? 'Close Scanner' : 'Open Scanner' }}
    </button> &nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="openPanelWithBackdrop()">
      {{ scannerOverlay ? 'Close Scanner Overlay' : 'Open Scanner Overlay' }}
    </button>

    </mat-card-header>
    <mat-card-content *ngIf="scanner" class="card-content-example">
        <app-scanner (result)="onChangeResult($event)"></app-scanner>
    </mat-card-content>

    <mat-card-actions>
        <section class="results" *ngIf="queryResult">
            <div fxLayout="row" fxLayout.xs="row" fxLayoutAlign="start center">
                Result:&nbsp; <a href="#">{{ queryResult }}</a>
            </div>
        </section>
    </mat-card-actions>
</mat-card>
